<div class="pricetag_container">
  <script id="search-template" type="text/x-handlebars-template">
    {{#each tags}}
      <div class="photo_view" data-id="{{id}}"><a href={{image.url}}><img src="{{image_url}}"></a></div>
    {{/each}}
  </script>
</div>
