<div class="finish_stash">
<!-- photos doesn't need an apostrophe.  -->
    <h3> You finished browsing all the photo's near you! </h3>
  <div class="finish_buttons">
    <%= link_to "see your stash", user_stashes_path(current_user), class:
"app-button" %>
  </div>
  <div class="finish_buttons">
    <%= link_to "stash photos from around the world", show_all_path, class: "app-button" %>
  </div>
  <div class="finish_buttons">
    <%= link_to "search by tags", foodtags_path, class: "app-button" %>
  </div>
</div>
