<% if current_user %>
  <div class="start_stash">
    <h3> Swipe right to stash a photo, swipe left to pass! </h3>
    <br>
      <div><%= form_tag('/home/show', :method => 'get') do %>
        <%= submit_tag 'Start Stashing!', id: "start_stash", class: "app-button" %>
        <h4> or </h4>

           <span id="sign_out"><%= link_to "Sign out", signout_path, class: "app-button" %></span>

      <% end %></div>
  </div>
<!-- </div> -->

<% end %>
