
<div class="container">
  <h1> stash </h1>
  <div class="errors_container">
    <script id="error-template" type="text/x-handlebars-template">
      <div class="error_message"><span></span></div>
    </script>
  </div>

  <%= content_tag "div", class: "photo_stream_container", data: {photostream: @photostream} do %>
  <% end %>
  <!-- <div class="photo_stream_container"></div> -->

  <!-- <div class="photo_container"></div> -->

  <div class="photo_info_container"></div>
  <div>
    <p>""</p>
    <p>""</p>
    <p>""</p>
    <p>""</p>
    <p>""</p>
    <p>""</p>
    <p>""</p>
    <p>""</p>

  </div>

  <div class="stream_stash"> This is your stash!</div>

</div>



<script id="photostream-template" type="text/x-handlebars-template">
  {{#each photos}}
    <div class="photo_view" data-id="{{id}}"><a href={{image_url}}><img src="{{image_url}}"></a></div>
  {{/each}}
</script>

<!-- Individual photo show script -->
<script id="photo_show_template" type="text/x-handlebars-template">
  {{#photo}}
  <span id="individual_photo" data-id="{{id}}"><img src={{image_url}}></span>
  {{/photo}}
</script>


<!-- Individual photo show script -->



<!-- Individual photo info script -->
<script id="photo_show_info_template" type="text/x-handlebars-template">
  {{#photo}}
  <p>
    {{dish_name}}
  </p>
  <p>
    {{#each foodtags}}
      <span>{{description}}</span>
    {{/each}}
  </p>
  <p>
    {{pricetag.price}}
  </p>
  {{/photo}}
</script>

<!-- Filtered photo script -->
<script id="filter-template" type="text/x-handlebars-template">
  {{#each photos}}
    <div class="filtered_photos" data-id="{{id}}"><img src={{image_url}}></div>
  {{/each}}
</script>
