<h1> You hit the homepage </h1>

<div class="photo_stream_container">
  <script id="photostream-template" type="text/x-handlebars-template">
    {{#each photos}}
      <div class="photo_view"><a href="/photos/{{id}}"><img src="{{image_url}}"</a></div>
    {{/each}}
  </script>
</div>

<div class="my_stash">
  <script id="mystash-template" type="text/x-handlebars-template">
    {{#each photos}}
      <div class="stash_view"><a href={{image_file_name}}></a></div>
    {{/each}}
  </script>
</div>

