<div class="container">
  <div class="wrap">
    <div id="tinderslide">
      <ul>
        <% @photostream.each_with_index do |photo, index| %>
          <li class="pane<%=index%>" data-photoid="<%= photo.id %>">
            <img class="photo" src="<%=photo.image_url%>" />
            <div class="like"></div>
            <div class="dislike"></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="actions">

</div>

<div id="status"></div>



