<div class="container">

  <div class="search_form_container">
    <%= render :partial => 'photos/search' %>
  </div>

  <h4>By Price</h4>


  <% @pricetags.each do |tag| %>
    <button type="button" class="btn btn-info" id="price"><%= link_to "#{tag.price}", pricetag_path(tag) %></button>
  <% end %>

  <h3>or...By Food Type</h3>

  <% @foodtags.each do |tag| %>
    <button type="button" class="btn btn-info"><%= link_to tag.description, foodtag_path(tag) %></button>
  <% end %>

</div>
