<div class="container" id="tags_bs_override">

  <div class="search_form_container">
    <%= render :partial => 'search' %>
  </div>

  <div class="error">
    <% if  @error %>
      <p><h5><%= @error %></h5></p>
    <% end %>
  </div>

  <% @foodtags.each do |tag| %>
    <button type="button" class="btn btn-info"><%= link_to tag.description, foodtag_path(tag) %></button>
  <% end %>

  <h4>or...By Price</h4>

  <% @pricetags.each do |tag| %>
    <button type="button" class="btn btn-info" id="price"><%= link_to "#{tag.price}", pricetag_path(tag) %></button>
  <% end %>


</div>
