<div class="foodtag_container">
  <script id="foodtag-template" type="text/x-handlebars-template">
    {{#each foodtags}}
      <div class="foodtags" data-id="{{id}}"><a href="/foodtags/{{id}}">{{description}}</a></div>
    {{/each}}
  </script>
</div>
