<div class="container">
    <h3> My Stash </h3>
    <% if @error %>
        <p><%= @error %></p>
    <% else %>

      <% @stash_photos.each do |photo| %>
        <div class="photo_show_template">
          <span id="individual_photo" data-id="<%= photo.id %>"><img src=<%= photo.image_url %>></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
