<div class="container">
    <h3> My Stash </h3>
    <% if @error %>
        <p><%= @error %></p>
    <% else %>

      <% @stash_photos.each do |photo| %>
        <div id="polaroid">
          <figure>
            <img src="<%= photo.image_url %>" width="200" height="200" alt="user_photo" />
          </figure>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
