<div class="container">
  <% @error %>
  <h3>Edit your Photo</h3>

  <div id="polaroid"
    <figure class="front">
        <img src="<%= @photo.image_url %>" width="200" height="200" alt="user_photo" />
    </figure>
  </div>

  <div class="form">
    <%= form_for @photo, html: {multipart: true } do |f| %>

        <%= render :partial => 'form', :locals => {photo: @photo, f: f} %>

      <p><%= submit_tag 'Edit Photo', id: "edit_button" %></br>

    <% end %>
    
  </div>
</div>
