<div class="container">
  <div class="upload-error">
    <% if @error %>
    <p><h5><%= @error %></h4></p>
    <% end %>
  </div>

  <%= render :partial => 'form', :locals => {photo: @photo} %>


  <div class="current_position">
  </div>
</div>
