<div class="photo_container">
  <script id="photo_show_template" type="text/x-handlebars-template">
  {{#photo}}
  <span></span>
  {{/photo}}
  </script>
</div>

<div class="photo_info_container">

  <script id="photo_show_info_template" type="text/x-handlebars-template">
  {{#photo}}
  <p>
  {{dish_name}}
  </p>

  <p>
  {{#each foodtags}}
    <span>{{description}}</span>
  {{/each}}
  </p>

  <p>
  {{pricetag.price}}
  </p>
  {{/photo}}

  </script>

</div>

