/* User Profile && Polaroid Effect on Photos */

figure, figcaption {
  display: block;
}

#polaroid{
    height: 300px;
    width: 300px;
    padding: 1% 0;
    margin: 0 auto;
    display: block;
/*  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 2;
  left: 0;
  overflow: hidden;
  padding: 2px 2px 2px 2px;*/
  margin-bottom: 10px;
  text-align: center;

}

#polaroid figure{

    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 5px;
    background: #eee6d8;

    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    -webkit-transform:rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-backface-visibility:hidden;
    color: #000;
    border: 1px solid #fff;
    border: 1px solid #dfdfdf;
    border: 1px solid rgba(96, 96, 96, 0.2);
  /*height: 300px;
  width: 300px;
  padding: 1% 0;
  margin: 0 2px;
  text-align: center;*/
 /* display: block;
  position: absolute;
  width: 290px;
  height: 290px;
  overflow: hidden;
  text-align: center;*/
  /*margin-right: 15px;*/
  /*padding: 6px 8px 8px 8px;
  background: #eee6d8;
  margin: 0 auto;*/

  /*-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  -webkit-transform:rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
 /* color: #000;
  border: 1px solid #fff;
  border: 1px solid #dfdfdf;
  border: 1px solid rgba(96, 96, 96, 0.2);*/
}

#polaroid .flippable {
  width: 100%;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
}

#polaroid .front {
  background: #eee6d8;
  position: relative;
}

#polaroid .back {
  background: #eee6d8;
  position: relative;
  display: none;
}

/*---CSS for flipping photos---*/

.flip {
  -webkit-backface-visibility:hidden;
  -webkit-transform:translateX(0);
  -moz-backface-visibility:hidden;
  -moz-transform:translateX(0);
}
.flip.out {
  -webkit-transform: rotateY(-90deg) scale(.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 175ms;
  -moz-transform: rotateY(-90deg) scale(.9);
  -moz-animation-name: flipouttoleft;
  -moz-animation-duration: 175ms;
}
.flip.in {
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 1000ms;
  -moz-animation-name: flipintoright;
  -moz-animation-duration: 1000ms;
}
.flip.out.reverse {
  -webkit-transform: rotateY(90deg) scale(.9);
  -webkit-animation-name: flipouttoright;
  -moz-transform: rotateY(90deg) scale(.9);
  -moz-animation-name: flipouttoright;
}
.flip.in.reverse {
  -webkit-animation-name: flipintoleft;
  -moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
  from { -webkit-transform: rotateY(0); }
  to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
  from { -moz-transform: rotateY(0); }
  to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
  from { -webkit-transform: rotateY(0) ; }
  to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
  from { -moz-transform: rotateY(0); }
  to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
  from { -webkit-transform: rotateY(-90deg) scale(.9); }
  to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
  from { -moz-transform: rotateY(-90deg) scale(.9); }
  to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
  from { -webkit-transform: rotateY(90deg) scale(.9); }
  to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
  from { -moz-transform: rotateY(90deg) scale(.9); }
  to { -moz-transform: rotateY(0); }
}

/*---------------------------*/

#polaroid img {
  background-size: cover;
  height: 285px;
  width: 285px;
  margin: 2px auto;
/*  margin-bottom: 5px;*/
  position: relative;
  background-size: cover;
 /* width: 100%;
  height: 100%;*/
  border: 1px solid #fff;
  border: 1px solid #dfdfdf;
  border: 1px solid rgba(96, 96, 96, 0.2);
}

#polaroid figcaption{
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace; /*Reenie Beanie is available through Google Webfonts http://code.google.com/webfonts/specimen/Reenie+Beanie*/
  font-size:1.3em;
  color:#454f40;
  letter-spacing:0.09em;
}

figure:before {
  content: '';
  display: block;
  position: absolute;
  left:5px; /*postion from the left side of the frame (positive value move the tape right, negative moves it left)*/
  top: -5px; /*position from the top of the frame (positive move it above the frame, negative below)*/
  width: 75px; /*width of the tape*/
  height: 25px; /*height of the tape*/
  background-color: rgba(222,220,198,0.7); /*colour of the tape, use rgba to make it slightly transparent*/
  /*rotate the tape 12 degrees anti-clockwise*/
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  }

img.photo {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 2;
  left: 0;
  overflow: hidden;
  text-align: center;
  margin: auto;
}


/* New Photo Page */

.photo_field_label {
  display: inline-block;
  width: 75px;
  margin-left: -100px;
  text-align: center;
}

.photo_field_input {
/*  display: inline-block;*/
  width: 40px;
  text-align: center;
}


.photo_upload {
  display: inline-block;
  width: 200px;
}

#photo_image {
  display: inline-block;
  width: 200px;
}

#photo_preview {
  margin-top: 1em;
  width: 75px;
  height: 75px;

  text-align: center;
  display: inline;

}

.photo_preview_container {
  text-align: center;

}

.clear_fix {
  clear: both;
}

.new_photo {
  position: relative;
}

.top_form {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.bottom_form {
  margin-left: 0 auto;
  text-align: center;
  width: 100%;
}

.icon  img {
  width: 9%;
  height: auto;
}
