
/* Styling for the bottom of the page */
.ps_logos_container {
    width: 300px;
    margin: 30px auto 0;
}

.ps_logo_pass {
    float: left;
    background-image: image-url('double_triangle_pass.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 50px;
}

.ps_logo_stash {
    float: right;
    background-image: image-url('fridge_icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 50px;
}
